.container-card {
  text-align: center;
  margin: 1rem;
  color: #333;
  background-color: rgba(198, 201, 200, 0.452);
  backdrop-filter: blur(10px);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 30px;
  color: #eee;
  text-shadow: 2px 2px #333;
}

.arrow {
  border: solid #eee;
  box-shadow: 2px 1px 3px #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
}

.container-card:hover {
  cursor: pointer;
  background-color: rgba(154, 156, 156, 0.452);
  backdrop-filter: blur(10px);
}

.container-info {
  display: inline-block;
  background-color: #333;
  border-radius: 15px;
  color: #fff;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem;
}

.container-info:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}
