@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background: linear-gradient(#f1f1f1 50%, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #f1f1f1 53%, rgba(255, 255, 255, 0) 0)
      0 0,
    radial-gradient(circle closest-side, #f1f1f1 50%, rgba(255, 255, 255, 0) 0)
      55px 0 #48b;
  background-size: 110px 500px;
  background-repeat: repeat-x;
}
